<h1> Portfolio Items </h1>

<%= link_to "Create new item", new_portfolio_path if logged_in?(:site_admin) %>

<p>
	<%= portfolios_path%>
	<%= portfolios_url%>
</p>

<!-- when the name of collection is diferent, need to declare right this-->
<%= render partial: 'portfolio_item', collection: @portfolio_items %>