<div class="album text-muted">
  <div class="container">
    <div class="row sortable">
	  <!-- when the name of collection is diferent, need to declare right this-->
	  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
	
	</div>
  </div>
</div>