<div class="app-card-container">
	<div class="card">
		<h1>Sobre mim</h1>

		<hr>

		<div class="row">
		  <div class="col-md-4">
				<%= image_tag "profile.jpg", width: 300, alt: "profile-img", class: 'profile-img' %>
		  </div>
		  <div class="col-md-8">
			<p>
			  Desde os 18 anos de idade me aventurava no mundo fascinante dos códigos. Mas antes, o que era apenas uma diversão, virou profissão!
		   	  <br>
			  Com 2 anos de experiência em desenvolvimento de aplicações web em várias empresas, sempre estou busca de desafios para melhoras minhas habilidades como desenvolvedor de software, empresário e entusiasta. Meu conhecimento e experiência em desenvolvimento de aplicações varia de Ruby On Rails, HTML, CSS, JavaScript, PostgreSQL, Git, Clojure, ClojureScript, Java e Linux a Python, MySQL, Oracle, Ember.js, C e C#.
			  <br>
			  Além disso, direciono parte do meu tempo para pesquisas, desenvolvimento de projetos pessoais e escrever artigos sobre tecnologia para o meu blog.
			  <br>
			  <br>
			  (16) 98145-8070
			  <br>
			  São Carlos - SP
			</p>
		  </div>
		</div>
	</div>
</div>



