

<main role="main" class="inner cover">
  <h1 class="cover-heading">Oportunidades não surgem. É você que as cria.</h1>
  <p class="lead"> Quando começo um novo projeto, faço dele meu objetivo. Não de apenas construir um projeto bem desenvolvido, mas também de garantir que cada processo tenha uma ótima comunicação. 
  </p>
  <p class="lead">
    <%= link_to 'Sobre', about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>